<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>个人信息</string>
            <key>Key</key>
            <string></string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
            <key>Title</key>
            <string>姓名</string>
            <key>Key</key>
            <string>username</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Values</key>
            <array>
                <string>football</string>
                <string>basketball</string>
                <string>pingpong</string>
            </array>
            <key>Title</key>
            <string>爱好</string>
            <key>Titles</key>
            <array>
                <string>足球</string>
                <string>篮球</string>
                <string>乒乓球</string>
            </array>
            <key>Key</key>
            <string>aihao</string>
            <key>DefaultValue</key>
            <string>football</string>
        </dict>
        <dict>
            <key>FalseValue</key>
            <string>NO</string>
            <key>TrueValue</key>
            <true/>
            <key>DefaultValue</key>
            <false/>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>婚姻状况</string>
            <key>Key</key>
            <string>maritalStatus</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>等级</string>
            <key>Key</key>
            <string></string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <integer>5</integer>
            <key>MaximumValue</key>
            <integer>10</integer>
            <key>MinimumValue</key>
            <integer>1</integer>
            <key>Type</key>
            <string>PSSliderSpecifier</string>
            <key>Title</key>
            <string>等级</string>
            <key>Key</key>
            <string>levelState</string>
        </dict>
    </array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
